body{
	padding:0px;
	margin:10px;
	font-family:cambria;
	max-width:100%;
	background-color:#64CCC5;
	color:#04364A;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.top{
	display:flex;
	align-items:center;
	position:fixed;
	top:0;
	width:100%;
	background-color:#04364A;
	justify-content:space-between;

}

.top #logo{
	background-color:#FFFFFF;
	height:130px;
	width:130px;
	border-radius:50%;
	justify:flex;
	padding:0px 0px;
	margin:30px;
	size:5px;
}

.ani{
	animation:logoBounce 5s ease-in infinite;
}

@keyframes logoBounce{
	0%{
		transform:translateX(0);
	}

	25%{
		transform:translateX(50px);
	}

	50%{
		transform:translateY(0);
	}

	75%{
		transform:translateY(25px);
	}
}


.write-up #readless{
	display:none;
}

#myBtn{
	padding:5px 5px;
	background-color:#04364A;
	color:#DAFFFB;
	border-radius:20%;
	border:none;
	outline:none;
	cursor:pointer;
	font-size:13px;
	width:15%;
	margin:10px;
}

#myBtn1{
	padding:5px 5px;
	background-color:#04364A;
	color:#DAFFFB;
	border-radius:20%;
	border:none;
	outline:none;
	cursor:pointer;
	font-size:13px;
	width:15%;
	margin:10px;
}

h2 #focus{
	font-family:Microsoft Sans Serif;
	font-size:34px;
	color:#04364A;

}

.focus{
	font-size:22px;
	align-items:center;
	justify-content:center;
    text-align:center;
    color:#DAFFFB;
}

#mockup1{
	heighth:700px;
    width:100%;
    padding-top:120px;
 
}

img #mockup1{
padding-top:50px;
}


#slogan{
	background-color:#04364A;
	text-align:center;
	font-family:Merryo UI;
	font-size:15px;
	color:#DAFFFB;
	margin:25px;
}

.link h4{
	font-size:18px;
	animation:fadeIn 2s infinite;
}

@keyframes fadeIn{
	0% { opacity: 0; }
	50%{ opacity: 0.5; }
	100%{ opacity: 1; }
}

h2{
	text-align:center;
	font-size:28px;
}


.write-up{
	font-size:20px;
}
ul{
	background-color:white;
	margin:50px;
	list-style-type:none;
    padding:0px;
    display:block;
    text-align:center;
}


li{
display:inline;
float:right;
border-right:1px solid #DAFFFB;
}

li a{
	background-color:#64CCC5;
	display:block;
	color:#DAFFFB;
	text-align:center;
	padding:10px 12px;
	text-decoration:none;
}

li a:hover{
	background-color:#176B87;
}


li a:active{
	background-color:#00BCDC;
}

footer{
	display:flex;
	align-items:center;
	background-color:#04364A;
	justify-content:center;
	color:#DAFFFB;
	padding:0px;
	font-size:20px;
}

/*for every first image in every page except home page*/
    img #mockup2{
	heighth:700px;
	width:1000px;
    width:100%;
    margin-top:50px;
}

/*To bold the subtitle*/
#Bold{
	font-weight:bold;
}

